.greeting {
  width: 100%;
  font-family: Over The Rainbow;
  font-size: 60px;
  text-align: center;
  color: #F96C79;
  margin-top: 50px;text-shadow: 3px 2px 2px rgba(211, 131, 149, 0.65);
}

.button {
  text-decoration: none;
  border: 3px solid #F95464;
  border-radius: 10px;
  padding: 18px 25px;
  color: #FB7985;
  font-family: Arial;
  font-size: 18px;
  text-transform: uppercase;
/*
  transition: all 0.5s;
*/
}
.button:hover {
  background-color: #F95464;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 700ms;
  visibility:visible;
  opacity: 1;
}
.overlay:target {
  visibility: hidden;
  opacity: 0;
}
/*overlay:after {
  animation: explode 4s infinite;
}*/

.love {
  padding: 25px 28px;
  background: #FB7985;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow: scroll;
}
.love .close {
  position: absolute;
  top: 5px;
  left: 12px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-shadow: 3px 2px 2px #9E343E;
}
.love h2 {
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.message{
  opacity: 1;
  transition: all 3s ease-in-out;
  pointer: cursor;
}
.message:hover {
  opacity: 1;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
  pointer: cursor;
}
.message h2, .message p, .message h3 {
  padding:0 140px;
  font-family: cedarville cursive;
  pointer: cursor;
}
.message h2 {
  text-align: left;
  color: #fff;
  font-size: 28px;
}
.message p {
  text-align: justify;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 24px;
  padding:0 165px;
}
.message h3 {
  text-align: right;
  color: #fff;
  font-size: 24px;
}
.message h4 {
  text-align: right;
  color: #fff;
  font-size: 24px;
}
h2 a{
 text-align: left;
  color: #fff;
  font-size: 28px;}
